{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourly - Travel Agency</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet">
</head>

<body id="top">
    {%  include "pages/navbar.html"  %}
    <main>
        <main>
            <article>
        
              <section class="hero" id="home">
                <div class="container">
        
                  <h2 class="h1 hero-title">Packeges</h2>
                  <p class="hero-text">Checkout Our Packeges</p>
                  <div class="btn-group">
                    <button class="btn btn-secondary" onclick="scrollToSection()">Packeges</button>
                  </div>

                </div>
              </section>   
              <section class="popular" id="destination">
                <div class="container">
                  <ul class="popular-list">
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category1.png'%}" alt="San miguel, italy" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Italy</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">San miguel</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category2.png'%}" alt="Burj khalifa, dubai" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Dubai</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">Burj khalifa</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category3.png'%}" alt="Kyoto temple, japan" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Japan</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">Kyoto temple</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                  </ul>
                  <ul class="popular-list">
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category1.png'%}" alt="San miguel, italy" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Italy</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">San miguel</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category2.png'%}" alt="Burj khalifa, dubai" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Dubai</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">Burj khalifa</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                    <li>
                      <div class="popular-card">
        
                        <figure class="card-img">
                          <img src="{% static 'images/category3.png'%}" alt="Kyoto temple, japan" loading="lazy">
                        </figure>
        
                        <div class="card-content">
        
                          <div class="card-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                          </div>
        
                          <p class="card-subtitle">
                            <a href="#">Japan</a>
                          </p>
        
                          <h3 class="h3 card-title">
                            <a href="#">Kyoto temple</a>
                          </h3>
        
                          <p class="card-text">
                            Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                          </p>
        
                        </div>
        
                      </div>
                    </li>
        
                  </ul>
                </div>
              </section>
            </article>
        </main>

        {%  include "pages/footer.html"  %}

    </main>
</body>
</html>
<script>
    function scrollToSection() {
      var section = document.getElementById('destination');
      if (section) {
          section.scrollIntoView({ behavior: 'smooth' });
      }
    };
</script>